<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mago>
            <general>
                <enabled>0</enabled>
            </general>
            <api>
                <max_tokens>4096</max_tokens>
                <streaming>1</streaming>
                <internal_ssl_verify>1</internal_ssl_verify>
            </api>
            <chat>
                <system_prompt><![CDATA[]]></system_prompt>
                <answer_widgets>1</answer_widgets>
                <max_tool_iterations>10</max_tool_iterations>
                <assistant_name>Mago</assistant_name>
                <accent_color>#F26322</accent_color>
                <text_color>#FFFFFF</text_color>
            </chat>
            <tools>
                <max_response_tokens>4000</max_response_tokens>
            </tools>
            <debug>
                <debug>0</debug>
                <payload_retention_days>30</payload_retention_days>
            </debug>
            <hypernode>
                <on_node>auto</on_node>
                <access_log_path>/var/log/nginx/access.log</access_log_path>
            </hypernode>
            <docs>
                <enabled>0</enabled>
                <source_repo>mage-os/mirror-commerce-admin.en</source_repo>
                <ref>main</ref>
                <top_k>5</top_k>
                <cron_expr>0 4 1 * *</cron_expr>
            </docs>
        </mago>
    </default>
</config>
