<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mago_assistant" translate="label" sortOrder="800" class="mago-tab">
            <label>Mago Assistant</label>
        </tab>
        <section id="mago" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>mago_assistant</tab>
            <resource>MagoAssistant_Mago::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Version</label>
                    <frontend_model>MagoAssistant\Mago\Block\Adminhtml\System\Config\VersionField</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <include path="MagoAssistant_Mago::system/api.xml"/>
            <include path="MagoAssistant_Mago::system/chat.xml"/>
            <include path="MagoAssistant_Mago::system/voice.xml"/>
            <include path="MagoAssistant_Mago::system/tools.xml"/>
            <include path="MagoAssistant_Mago::system/docs.xml"/>
            <include path="MagoAssistant_Mago::system/debug.xml"/>
        </section>
    </system>

</config>
